---
layout: default
---
</style>

<div class="appInfo" style="display: flex; align-items: center;">
    <div class="appIconShadow">
        <img width="100" class="appIconLarge" src="https://oss.douwantech.com/assets/images/photobox.png">
    </div>
    <div class="appNamePriceContainer">
        <h1 style="padding-left: 20px;" class="appName">Box</h1>
    </div>
</div>

<div class="appDescriptionContainer clearfix " >
    <p class="appDescription" style="padding-top: 20px;">
        Box是一款本地存储照片和视频的应用
    </p >
    <br />
    <p class="appDescription" style="padding-top: 20px; float:left;margin-right: 75px;">
    【功能区】
    <br />
    安全保护:Box是一个专为保护您的照片和视频而设计的应用,确保您的私人内容只能被您本人访问
    <br />
    私密照片和视频:隐私相册允许您将照片和视频保存在本地应用,确保您的私人内容不会被无意中发现。
    <br />
    数据安全保障:隐私相册承诺不会收集存储或分享您的个人信息和私人内容，以确保您的数据隐私完全受到尊重和保护。
    </p >
    <br />
    <img src="/assets/bglist.png" alt="">
</div>








